<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Share+Tech|Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'>
<style>
  h1 {
    font-weight: 700;
  }

  body {
  margin:20px;
  color: #fff;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  background: #1a2126;
}
  
h1{
      font-size:34px;
    }

a {
  color: #00B7FF;
}

/* Component styles */

.component {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 90%;
	max-width: 1000px;
	overflow: hidden;
}
.component .filler {
	font-family: "Blokk", Arial, sans-serif;
	color: #d3d3d3;
}
table {
    border-collapse: collapse;
    margin-bottom: 3em;
    width: 100%;
    background: #5e6367;
    font-family: 'Share Tech', sans-serif;
  color: #a3a6a8;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
    
}
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #474d51;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: #141a1e;
}

/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.td-source, td.td-status {
	text-transform: capitalize;
}

.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}


.date {
  font-size: 18px;
}
#message-details {
  padding: 15px 30px 15px 30px;
  margin-top: 10px;
  border: 0px solid #FFEEC7;
  opacity: 100;
  font-size: 20px;
  line-height: 26px;
  background-color: #ECEEFF;
}
tbody tr.pending {
  background-color: #FFEEC7;
}
tbody tr.success {
  background-color: #CDFFBF;
}
tbody tr.failed { 
  background-color: #FFCCCA;
}
.content{
  z-index:9;
  position:relative;
}
.pending-bar{
  z-index:1;
  width:600px;
  height:100%;
  position:absolute;
  background:blue;
  left:0px;
  top:0px;
  border: 1px solid #111;
}  
.date {
  background-color: #0f1316;
  
}
  

  
.filled {
  background-color: #07090b;
}
.filled:hover {
  background-color: #141a1e;
}
  
.selected {
    background-color: #0f1316;
}
  
textarea{
  font-family:monospace;
  border-radius: 0px;
  background-color: #07090b !important;
  margin-bottom: 5px;
  border: 0px !important;
  height: auto !important;;
}
.btn-default{
  color: #000;
  font-family:monospace;
  border-radius: 0px;
  background-color: #30373b !important;
  margin-bottom: 5px;
  border: 0px;
}
  
.btn-default:hover{
  background-color: #a3a6a8 !important;

}
  
* {
  border-radius: 0 !important;
}
a {
 color: #fff;       
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
<script>
  

  
$( document ).ready(function() {

  $(".td_content").hide();
  
  $( "td" ).each(function( index ) {
      if ($(this).children('.td_content').text() != ""){
        $(this).addClass("filled");
      }
    });
  
  
  $( ".date_td" ).mouseover(function() {
    child_text = $(this).children('.td_content').text();
    
    if (child_text != null){
      $("#msg_input").val(child_text);
    }
    
  });
  
  $( ".date_td" ).click(function() {
    if ($(this).hasClass( "selected" )){
      $(this).removeClass( "selected" );
    }else{
      $(this).addClass( "selected" );
    }
  });
  
  
  $( "#save" ).click(function() {
    $("#save").hide();
    $("#results").text("");
    event.preventDefault();
    var selected_tds = "";
    var date = "";
    var msg = $("#msg_input").val();
    
    
    $( "td" ).each(function( index ) {
      if ($(this).hasClass("selected")){
        selected_tds = selected_tds + $(this).attr("id") + "_";
        date = $(this).parent().attr("class");
      }
    });
    
    
    $.post( "/save/" + date + "/" + selected_tds + "/" + msg, function( data ) {
      $("#save").show();
      //$( ".result" ).html( data );
      $("#results").text(data);
      
      

        $("td").each(function( index ) {
          
          if ($(this).hasClass("selected")){
              if (msg == "clear!"){
                $(this).removeClass("filled");
                $(this).removeClass("selected");
                $(this).children('.td_content').text("");
              }
              else {
                $(this).addClass("filled");
                $(this).children('.td_content').text(msg);
                $(this).removeClass("selected");
              }

            
          }
          
        });
      
    });
    
  });

  
  
});
</script>
  
  
  
  
<body>
   <%= yield %>
</body>
  <br><br>
  <small>&copy; <a target="_blank" href="http://www.spensercoke.com">spensercoke</a></small>
</html>